﻿
#u481.c {
  width:49px;
}
#u482.c {
  left:71px;
  top:1216px;
  width:154px;
}
#u482_img.c {
  width:158px;
}
#u483.c {
  width:154px;
}
#u484.c {
  left:400px;
  top:1147px;
}
#u484_img.c {
}
#u485.c {
}
#u486.c {
  left:400px;
  top:1173px;
}
#u486_img.c {
}
#u487.c {
}
#u488.c {
  left:400px;
  top:1199px;
}
#u488_img.c {
}
#u489.c {
}
#u490.c {
  left:400px;
  top:1225px;
}
#u490_img.c {
}
#u491.c {
}
#u492.c {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
}
#u493.c {
  width:1200px;
  height:50px;
}
#u493_img.c {
  width:1204px;
  height:54px;
}
#u494.c {
  top:17px;
  width:1196px;
}
#u495.c {
  width:1200px;
  height:70px;
}
#u495_img.c {
  width:1204px;
  height:74px;
}
#u496.c {
  top:27px;
  width:1196px;
}
#u497.c {
  left:1030px;
  top:20px;
}
#u497_img.c {
}
#u498.c {
}
#u499.c {
  left:1033px;
  top:20px;
}
#u499_img.c {
}
#u500.c {
}
#u501.c {
  left:0px;
  top:70px;
}
#u613.c {
  left:30px;
}
#u613_img.c {
}
#u614.c {
}
#u615.c {
  left:10px;
  width:16px;
  height:16px;
}
#u615_img.c {
  width:16px;
  height:16px;
}
#u616.c {
  top:0px;
  width:12px;
}
#u617.c {
  position:absolute;
  left:570px;
  top:5px;
  width:68px;
  height:60px;
}
#u618.c {
  left:570px;
  top:5px;
  width:68px;
  height:60px;
}
#u618_img.c {
  width:68px;
  height:60px;
}
#u619.c {
  top:22px;
  width:64px;
}
#u620.c {
  left:580px;
  top:15px;
  width:68px;
  height:60px;
}
#u620_img.c {
  width:68px;
  height:60px;
}
#u621.c {
  top:22px;
  width:64px;
}
#u622.c {
  left:740px;
  top:125px;
  width:68px;
  height:60px;
}
#u622_img.c {
  width:68px;
  height:60px;
}
#u623.c {
  top:22px;
  width:64px;
}
#u624.c {
}
#u626.c {
}
#u628.c {
}
#u734.c {
}
#u734_img.c {
}
#u735.c {
}
#u736.c {
  width:16px;
  height:16px;
}
#u736_img.c {
  width:16px;
  height:16px;
}
#u737.c {
  top:0px;
  width:12px;
}
#u738.c {
  position:absolute;
  left:892px;
  top:50px;
  width:68px;
  height:60px;
}
#u739.c {
  width:68px;
  height:60px;
}
#u739_img.c {
  width:68px;
  height:60px;
}
#u740.c {
  top:22px;
  width:64px;
}
#u741.c {
  width:68px;
  height:60px;
}
#u741_img.c {
  width:68px;
  height:60px;
}
#u742.c {
  top:22px;
  width:64px;
}
#u743.c {
  left:1062px;
  top:170px;
  width:68px;
  height:60px;
}
#u743_img.c {
  width:68px;
  height:60px;
}
#u744.c {
  top:22px;
  width:64px;
}
#u745.c {
  position:absolute;
  left:1140px;
  top:58px;
  width:70px;
  height:70px;
}
#u746.c {
  left:10px;
}
#u748.c {
  left:20px;
}
#u750.c {
}
#u750_img.c {
}
#u751.c {
}
#u752.c {
  position:absolute;
  left:1130px;
  top:70px;
  width:70px;
  height:70px;
}
#u753.c {
  left:0px;
  top:70px;
}
#u755.c {
  left:10px;
  top:80px;
}
#u757.c {
  left:1130px;
  top:70px;
}
#u757_img.c {
}
#u758.c {
}
#u759.c {
  left:680px;
  top:17px;
  width:157px;
  height:40px;
}
#u759_img.c {
  width:161px;
  height:44px;
}
#u760.c {
  top:12px;
  width:153px;
}
#u761.c {
  left:838px;
  top:22px;
  height:25px;
}
#u761_img.c {
  height:29px;
}
#u762.c {
}
#u763.c {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
}
#u764.c {
  width:1200px;
  height:50px;
}
#u764_img.c {
  width:1204px;
  height:54px;
}
#u765.c {
  top:17px;
  width:1196px;
}
#u766.c {
  width:1200px;
  height:70px;
}
#u766_img.c {
  width:1204px;
  height:74px;
}
#u767.c {
  top:27px;
  width:1196px;
}
#u768.c {
  left:1030px;
  top:20px;
}
#u768_img.c {
}
#u769.c {
}
#u770.c {
  left:1033px;
  top:20px;
}
#u770_img.c {
}
#u771.c {
}
#u772.c {
  left:0px;
  top:70px;
}
#u884.c {
  left:30px;
}
#u884_img.c {
}
#u885.c {
}
#u886.c {
  left:10px;
  width:16px;
  height:16px;
}
#u886_img.c {
  width:16px;
  height:16px;
}
#u887.c {
  top:0px;
  width:12px;
}
#u888.c {
  position:absolute;
  left:570px;
  top:5px;
  width:68px;
  height:60px;
}
#u889.c {
  left:570px;
  top:5px;
  width:68px;
  height:60px;
}
#u889_img.c {
  width:68px;
  height:60px;
}
#u890.c {
  top:22px;
  width:64px;
}
#u891.c {
  left:580px;
  top:15px;
  width:68px;
  height:60px;
}
#u891_img.c {
  width:68px;
  height:60px;
}
#u892.c {
  top:22px;
  width:64px;
}
#u893.c {
  left:740px;
  top:125px;
  width:68px;
  height:60px;
}
#u893_img.c {
  width:68px;
  height:60px;
}
#u894.c {
  top:22px;
  width:64px;
}
#u895.c {
}
#u897.c {
}
#u899.c {
}
#u1005.c {
}
#u1005_img.c {
}
#u1006.c {
}
#u1007.c {
  width:16px;
  height:16px;
}
#u1007_img.c {
  width:16px;
  height:16px;
}
#u1008.c {
  top:0px;
  width:12px;
}
#u1009.c {
  position:absolute;
  left:892px;
  top:50px;
  width:68px;
  height:60px;
}
#u1010.c {
  width:68px;
  height:60px;
}
#u1010_img.c {
  width:68px;
  height:60px;
}
#u1011.c {
  top:22px;
  width:64px;
}
#u1012.c {
  width:68px;
  height:60px;
}
#u1012_img.c {
  width:68px;
  height:60px;
}
#u1013.c {
  top:22px;
  width:64px;
}
#u1014.c {
  left:1062px;
  top:170px;
  width:68px;
  height:60px;
}
#u1014_img.c {
  width:68px;
  height:60px;
}
#u1015.c {
  top:22px;
  width:64px;
}
#u1016.c {
  position:absolute;
  left:1140px;
  top:58px;
  width:70px;
  height:70px;
}
#u1017.c {
  left:10px;
}
#u1019.c {
  left:20px;
}
#u1021.c {
}
#u1021_img.c {
}
#u1022.c {
}
#u1023.c {
  position:absolute;
  left:1130px;
  top:70px;
  width:70px;
  height:70px;
}
#u1024.c {
  left:0px;
  top:70px;
}
#u1026.c {
  left:10px;
  top:80px;
}
#u1028.c {
  left:1130px;
  top:70px;
}
#u1028_img.c {
}
#u1029.c {
}
#u1030.c {
  left:680px;
  top:17px;
  width:157px;
  height:40px;
}
#u1030_img.c {
  width:161px;
  height:44px;
}
#u1031.c {
  top:12px;
  width:153px;
}
#u1032.c {
  left:838px;
  top:22px;
  height:25px;
}
#u1032_img.c {
  height:29px;
}
#u1033.c {
}
#u1034.c {
  left:20px;
  top:200px;
}
#u1034_img.c {
}
#u1034_img.c.mouseOver {
}
#u1035.c {
}
#u1036.c {
  left:490px;
  top:498px;
  width:80px;
}
#u1036_img.c {
  width:84px;
}
#u1037.c {
  top:12px;
  width:76px;
}
#u1038.c {
  left:790px;
  top:498px;
  width:80px;
}
#u1038_img.c {
  width:84px;
}
#u1039.c {
  top:12px;
  width:76px;
}
#u1040.c {
  left:30px;
  top:528px;
  opacity:0.6;
}
#u1040_img.c {
  opacity:0.6;
}
#u1041.c {
}
#u1042.c {
  left:30px;
  top:608px;
  opacity:0.6;
}
#u1042_img.c {
  opacity:0.6;
}
#u1043.c {
}
#u1044.c {
  left:30px;
  top:688px;
  opacity:0.6;
}
#u1044_img.c {
  opacity:0.6;
}
#u1045.c {
}
#u1046.c {
  left:30px;
  top:768px;
  opacity:0.6;
}
#u1046_img.c {
  opacity:0.6;
}
#u1047.c {
}
#u1048.c {
  left:30px;
  top:848px;
  opacity:0.6;
}
#u1048_img.c {
  opacity:0.6;
}
#u1049.c {
}
#u1050.c {
  left:30px;
  top:928px;
  opacity:0.6;
}
#u1050_img.c {
  opacity:0.6;
}
#u1051.c {
}
#u1052.c {
  left:30px;
  top:1008px;
  opacity:0.6;
}
#u1052_img.c {
  opacity:0.6;
}
#u1053.c {
}
#u1054.c {
  left:30px;
  top:1088px;
  opacity:0.6;
}
#u1054_img.c {
  opacity:0.6;
}
#u1055.c {
}
#u1056.c {
  left:260px;
  top:475px;
  height:640px;
}
#u1056_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1056_end.c {
  position:absolute;
  left:-5px;
  top:623px;
  width:20px;
  height:18px;
}
#u1056_line.c {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  height:640px;
}
#u1057.c {
  left:580px;
  top:475px;
  height:640px;
}
#u1057_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1057_end.c {
  position:absolute;
  left:-5px;
  top:623px;
  width:20px;
  height:18px;
}
#u1057_line.c {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  height:640px;
}
#u1058.c {
  left:490px;
  top:575px;
  width:80px;
}
#u1058_img.c {
  width:84px;
}
#u1059.c {
  top:12px;
  width:76px;
}
#u1060.c {
  left:790px;
  top:575px;
  width:80px;
}
#u1060_img.c {
  width:84px;
}
#u1061.c {
  top:12px;
  width:76px;
}
#u1062.c {
  left:490px;
  top:655px;
  width:80px;
}
#u1062_img.c {
  width:84px;
}
#u1063.c {
  top:12px;
  width:76px;
}
#u1064.c {
  left:790px;
  top:655px;
  width:80px;
}
#u1064_img.c {
  width:84px;
}
#u1065.c {
  top:12px;
  width:76px;
}
#u1066.c {
  left:490px;
  top:735px;
  width:80px;
}
#u1066_img.c {
  width:84px;
}
#u1067.c {
  top:12px;
  width:76px;
}
#u1068.c {
  left:790px;
  top:735px;
  width:80px;
}
#u1068_img.c {
  width:84px;
}
#u1069.c {
  top:12px;
  width:76px;
}
#u1070.c {
  left:490px;
  top:815px;
  width:80px;
}
#u1070_img.c {
  width:84px;
}
#u1071.c {
  top:12px;
  width:76px;
}
#u1072.c {
  left:790px;
  top:815px;
  width:80px;
}
#u1072_img.c {
  width:84px;
}
#u1073.c {
  top:12px;
  width:76px;
}
#u1074.c {
  left:490px;
  top:895px;
  width:80px;
}
#u1074_img.c {
  width:84px;
}
#u1075.c {
  top:12px;
  width:76px;
}
#u1076.c {
  left:790px;
  top:895px;
  width:80px;
}
#u1076_img.c {
  width:84px;
}
#u1077.c {
  top:12px;
  width:76px;
}
#u1078.c {
  left:490px;
  top:975px;
  width:80px;
}
#u1078_img.c {
  width:84px;
}
#u1079.c {
  top:12px;
  width:76px;
}
#u1080.c {
  left:790px;
  top:975px;
  width:80px;
}
#u1080_img.c {
  width:84px;
}
#u1081.c {
  top:12px;
  width:76px;
}
#u1082.c {
  left:490px;
  top:1055px;
  width:80px;
}
#u1082_img.c {
  width:84px;
}
#u1083.c {
  top:12px;
  width:76px;
}
#u1084.c {
  left:790px;
  top:1055px;
  width:80px;
}
#u1084_img.c {
  width:84px;
}
#u1085.c {
  top:12px;
  width:76px;
}
#u1086.c {
  left:610px;
  top:334px;
  width:400px;
  height:60px;
}
#u1086_img.c {
  width:404px;
  height:64px;
}
#u1087.c {
  top:22px;
  width:388px;
}
#u1088.c {
  position:absolute;
  left:1020px;
  top:334px;
  width:169px;
  height:60px;
}
#u1088_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Franklin Gothic Book';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#1B1B1B;
  text-align:center;
}
#u1088_input.c {
  font-family:'Franklin Gothic Book';
  color:#1A1A1A;
}
#u1088_image_sketch.c {
  width:175px;
  height:66px;
}
#u1089.c {
  position:absolute;
  left:20px;
  top:334px;
  width:570px;
  height:60px;
}
#u1089_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Franklin Gothic Book';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1089_input.c {
  font-family:'Franklin Gothic Book';
  color:#000000;
}
#u1089_image_sketch.c {
  width:576px;
  height:66px;
}
#u1090.c {
  left:10px;
  top:411px;
  width:1179px;
}
#u1090_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1090_end.c {
  position:absolute;
  left:1162px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1090_line.c {
  position:absolute;
  left:0px;
  top:2px;
  width:1179px;
  height:6px;
}
#u1091.c {
  left:290px;
  top:510px;
}
#u1091_img.c {
}
#u1092.c {
}
#u1093.c {
  left:267px;
  top:439px;
  height:26px;
}
#u1093_img.c {
  height:30px;
}
#u1094.c {
  top:6px;
}
#u1095.c {
  left:588px;
  top:438px;
  height:26px;
}
#u1095_img.c {
  height:30px;
}
#u1096.c {
  top:6px;
}
#u1097.c {
  left:290px;
  top:587px;
}
#u1097_img.c {
}
#u1098.c {
}
#u1099.c {
  left:290px;
  top:667px;
}
#u1099_img.c {
}
#u1100.c {
}
#u1101.c {
  left:290px;
  top:748px;
}
#u1101_img.c {
}
#u1102.c {
}
#u1103.c {
  left:290px;
  top:826px;
}
#u1103_img.c {
}
#u1104.c {
}
#u1105.c {
  left:290px;
  top:906px;
}
#u1105_img.c {
}
#u1106.c {
}
#u1107.c {
  left:290px;
  top:987px;
}
#u1107_img.c {
}
#u1108.c {
}
#u1109.c {
  left:290px;
  top:1067px;
}
#u1109_img.c {
}
#u1110.c {
}
#u1111.c {
  left:610px;
  top:510px;
}
#u1111_img.c {
}
#u1112.c {
}
#u1113.c {
  left:610px;
  top:587px;
}
#u1113_img.c {
}
#u1114.c {
}
#u1115.c {
  left:610px;
  top:667px;
}
#u1115_img.c {
}
#u1116.c {
}
#u1117.c {
  left:610px;
  top:748px;
}
#u1117_img.c {
}
#u1118.c {
}
#u1119.c {
  left:610px;
  top:826px;
}
#u1119_img.c {
}
#u1120.c {
}
#u1121.c {
  left:610px;
  top:906px;
}
#u1121_img.c {
}
#u1122.c {
}
#u1123.c {
  left:610px;
  top:987px;
}
#u1123_img.c {
}
#u1124.c {
}
#u1125.c {
  left:610px;
  top:1067px;
}
#u1125_img.c {
}
#u1126.c {
}
#u1127.c {
  left:10px;
  top:439px;
  height:26px;
}
#u1127_img.c {
  height:30px;
}
#u1128.c {
  top:6px;
}
#u1129.c {
  left:764px;
  top:510px;
}
#u1129_img.c {
}
#u1130.c {
}
#u1131.c {
  left:764px;
  top:587px;
}
#u1131_img.c {
}
#u1132.c {
}
#u1133.c {
  left:764px;
  top:671px;
}
#u1133_img.c {
}
#u1134.c {
}
#u1135.c {
  left:764px;
  top:748px;
}
#u1135_img.c {
}
#u1136.c {
}
#u1137.c {
  left:764px;
  top:829px;
}
#u1137_img.c {
}
#u1138.c {
}
#u1139.c {
  left:764px;
  top:906px;
}
#u1139_img.c {
}
#u1140.c {
}
#u1141.c {
  left:764px;
  top:987px;
}
#u1141_img.c {
}
#u1142.c {
}
#u1143.c {
  left:764px;
  top:1064px;
}
#u1143_img.c {
}
#u1144.c {
}
#u1145.c {
  left:464px;
  top:510px;
}
#u1145_img.c {
}
#u1146.c {
}
#u1147.c {
  left:464px;
  top:587px;
}
#u1147_img.c {
}
#u1148.c {
}
#u1149.c {
  left:464px;
  top:671px;
}
#u1149_img.c {
}
#u1150.c {
}
#u1151.c {
  left:464px;
  top:748px;
}
#u1151_img.c {
}
#u1152.c {
}
#u1153.c {
  left:464px;
  top:829px;
}
#u1153_img.c {
}
#u1154.c {
}
#u1155.c {
  left:464px;
  top:906px;
}
#u1155_img.c {
}
#u1156.c {
}
#u1157.c {
  left:464px;
  top:987px;
}
#u1157_img.c {
}
#u1158.c {
}
#u1159.c {
  left:464px;
  top:1064px;
}
#u1159_img.c {
}
#u1160.c {
}
#u1161.c {
  left:890px;
  top:444px;
}
#u1161_img.c {
}
#u1161_img.c.mouseOver {
}
#u1162.c {
}
#u1163.c {
  left:967px;
  top:518px;
  height:19px;
  opacity:0.5;
}
#u1163_img.c {
  height:23px;
  opacity:0.5;
}
#u1164.c {
}
#u1165.c {
  left:965px;
  top:498px;
}
#u1165_img.c {
}
#u1166.c {
}
#u1167.c {
  top:489px;
}
#u1167_img.c {
}
#u1168.c {
}
#u1169.c {
  left:890px;
  top:555px;
  width:310px;
}
#u1169_img.c {
  width:314px;
}
#u1169_img.c.mouseOver {
}
#u1170.c {
  width:306px;
}
#u1171.c {
  left:967px;
  top:608px;
  height:19px;
  opacity:0.5;
}
#u1171_img.c {
  height:23px;
  opacity:0.5;
}
#u1172.c {
}
#u1173.c {
  left:965px;
  top:568px;
  width:235px;
  height:40px;
}
#u1173_img.c {
  width:239px;
  height:44px;
}
#u1174.c {
  width:235px;
}
#u1175.c {
  left:900px;
  top:569px;
}
#u1175_img.c {
}
#u1176.c {
}
#u1177.c {
  left:890px;
  top:635px;
  width:310px;
}
#u1177_img.c {
  width:314px;
}
#u1177_img.c.mouseOver {
}
#u1178.c {
  width:306px;
}
#u1179.c {
  left:967px;
  top:678px;
  height:19px;
  opacity:0.5;
}
#u1179_img.c {
  height:23px;
  opacity:0.5;
}
#u1180.c {
}
#u1181.c {
  left:965px;
  top:658px;
}
#u1181_img.c {
}
#u1182.c {
}
#u1183.c {
  left:900px;
  top:649px;
}
#u1183_img.c {
}
#u1184.c {
}
#u1185.c {
  left:890px;
  top:795px;
  width:310px;
}
#u1185_img.c {
  width:314px;
}
#u1185_img.c.mouseOver {
}
#u1186.c {
  width:306px;
}
#u1187.c {
  left:967px;
  top:838px;
  height:19px;
  opacity:0.5;
}
#u1187_img.c {
  height:23px;
  opacity:0.5;
}
#u1188.c {
}
#u1189.c {
  left:965px;
  top:818px;
}
#u1189_img.c {
}
#u1190.c {
}
#u1191.c {
  left:900px;
  top:809px;
}
#u1191_img.c {
}
#u1192.c {
}
#u1193.c {
  left:890px;
  top:955px;
  width:310px;
}
#u1193_img.c {
  width:314px;
}
#u1193_img.c.mouseOver {
}
#u1194.c {
  width:306px;
}
#u1195.c {
  left:967px;
  top:998px;
  height:19px;
  opacity:0.5;
}
#u1195_img.c {
  height:23px;
  opacity:0.5;
}
#u1196.c {
}
#u1197.c {
  left:965px;
  top:978px;
}
#u1197_img.c {
}
#u1198.c {
}
#u1199.c {
  left:900px;
  top:969px;
}
#u1199_img.c {
}
#u1200.c {
}
#u1201.c {
  left:890px;
  top:1035px;
  width:310px;
}
#u1201_img.c {
  width:314px;
}
#u1201_img.c.mouseOver {
}
#u1202.c {
  width:306px;
}
#u1203.c {
  left:967px;
  top:1078px;
  height:19px;
  opacity:0.5;
}
#u1203_img.c {
  height:23px;
  opacity:0.5;
}
#u1204.c {
}
#u1205.c {
  left:965px;
  top:1058px;
}
#u1205_img.c {
}
#u1206.c {
}
#u1207.c {
  left:900px;
  top:1049px;
}
#u1207_img.c {
}
#u1208.c {
}
#u1209.c {
  left:890px;
  top:715px;
  width:310px;
}
#u1209_img.c {
  width:314px;
}
#u1209_img.c.mouseOver {
}
#u1210.c {
  width:306px;
}
#u1211.c {
  left:967px;
  top:768px;
  height:19px;
  opacity:0.5;
}
#u1211_img.c {
  height:23px;
  opacity:0.5;
}
#u1212.c {
}
#u1213.c {
  left:965px;
  top:728px;
  width:235px;
  height:40px;
}
#u1213_img.c {
  width:239px;
  height:44px;
}
#u1214.c {
  width:235px;
}
#u1215.c {
  left:900px;
  top:729px;
}
#u1215_img.c {
}
#u1216.c {
}
#u1217.c {
  left:890px;
  top:875px;
  width:310px;
}
#u1217_img.c {
  width:314px;
}
#u1217_img.c.mouseOver {
}
#u1218.c {
  width:306px;
}
#u1219.c {
  left:967px;
  top:928px;
  height:19px;
  opacity:0.5;
}
#u1219_img.c {
  height:23px;
  opacity:0.5;
}
#u1220.c {
}
#u1221.c {
  left:965px;
  top:888px;
  width:235px;
  height:40px;
}
#u1221_img.c {
  width:239px;
  height:44px;
}
#u1222.c {
  width:235px;
}
#u1223.c {
  left:900px;
  top:889px;
}
#u1223_img.c {
}
#u1224.c {
}
#u1225.c {
  left:884px;
  top:474px;
  height:640px;
}
#u1225_start.c {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1225_end.c {
  position:absolute;
  left:-5px;
  top:623px;
  width:20px;
  height:18px;
}
#u1225_line.c {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  height:640px;
}
#u1226.c {
  left:290px;
  top:498px;
  height:12px;
  opacity:0.5;
}
#u1226_img.c {
  height:16px;
  opacity:0.5;
}
#u1227.c {
}
#u1228.c {
  left:610px;
  top:498px;
  height:12px;
  opacity:0.5;
}
#u1228_img.c {
  height:16px;
  opacity:0.5;
}
#u1229.c {
}
#u1230.c {
  left:290px;
  top:575px;
  height:12px;
  opacity:0.5;
}
#u1230_img.c {
  height:16px;
  opacity:0.5;
}
#u1231.c {
}
#u1232.c {
  left:290px;
  top:655px;
  height:12px;
  opacity:0.5;
}
#u1232_img.c {
  height:16px;
  opacity:0.5;
}
#u1233.c {
}
#u1234.c {
  left:290px;
  top:736px;
  height:12px;
  opacity:0.5;
}
#u1234_img.c {
  height:16px;
  opacity:0.5;
}
#u1235.c {
}
#u1236.c {
  left:290px;
  top:814px;
  height:12px;
  opacity:0.5;
}
#u1236_img.c {
  height:16px;
  opacity:0.5;
}
#u1237.c {
}
#u1238.c {
  left:290px;
  top:894px;
  height:12px;
  opacity:0.5;
}
#u1238_img.c {
  height:16px;
  opacity:0.5;
}
#u1239.c {
}
#u1240.c {
  left:290px;
  top:975px;
  height:12px;
  opacity:0.5;
}
#u1240_img.c {
  height:16px;
  opacity:0.5;
}
#u1241.c {
}
#u1242.c {
  left:290px;
  top:1055px;
  height:12px;
  opacity:0.5;
}
#u1242_img.c {
  height:16px;
  opacity:0.5;
}
#u1243.c {
}
#u1244.c {
  left:610px;
  top:575px;
  height:12px;
  opacity:0.5;
}
#u1244_img.c {
  height:16px;
  opacity:0.5;
}
#u1245.c {
}
#u1246.c {
  left:610px;
  top:657px;
  height:12px;
  opacity:0.5;
}
#u1246_img.c {
  height:16px;
  opacity:0.5;
}
#u1247.c {
}
#u1248.c {
  left:610px;
  top:736px;
  height:12px;
  opacity:0.5;
}
#u1248_img.c {
  height:16px;
  opacity:0.5;
}
#u1249.c {
}
#u1250.c {
  left:610px;
  top:815px;
  height:12px;
  opacity:0.5;
}
#u1250_img.c {
  height:16px;
  opacity:0.5;
}
#u1251.c {
}
#u1252.c {
  left:610px;
  top:893px;
  height:12px;
  opacity:0.5;
}
#u1252_img.c {
  height:16px;
  opacity:0.5;
}
#u1253.c {
}
#u1254.c {
  left:610px;
  top:975px;
  height:12px;
  opacity:0.5;
}
#u1254_img.c {
  height:16px;
  opacity:0.5;
}
#u1255.c {
}
#u1256.c {
  left:610px;
  top:1054px;
  height:12px;
  opacity:0.5;
}
#u1256_img.c {
  height:16px;
  opacity:0.5;
}
#u1257.c {
}
#u1258.c {
  position:absolute;
  left:967px;
  top:442px;
  width:50px;
  height:22px;
}
#u1258_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Franklin Gothic Book';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#1B1B1B;
  text-align:center;
}
#u1258_input.c {
  font-family:'Franklin Gothic Book';
  color:#1A1A1A;
}
#u1258_image_sketch.c {
  width:56px;
  height:28px;
}
